<div th:replace="shared/header"></div>
<div class="col-md-12">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                <a th:href="@{${pageURI}+'/create'}" class="btn btn-primary btn-xs abc">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Project Name</th>
                        <th>Description</th>
                        <th>Budget</th>
                        <th>Assigned Employees</th>
                        <th>Deadline</th>
                        <th>Task</th>
                        <th>Client</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="myTbody">
                    <tr th:each="project:${records}">
                        <td th:text="${project.id}"></td>
                        <td th:text="${project.projectName}"></td>
                        <td th:text="${project.description}"></td>
                        <td th:text="${project.budget}"></td>     
                        <td>                            
                            <a  href="javascript:void(0)" class="list-emp-btn btn btn-default btn-xs"
                                th:text="${project.employeeList.size()}"></a>
                            <a  href="javascript:void(0)" th:rel="${project.id}" class="add-emp-btn btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>                           
                        </td>
                        <td th:text="${project.deadline}"></td>
                        <td th:text="${project.tasks.size()}"></td>
                        <td th:text="${project.client.firstName}"></td>
                        <td th:style="'background:'+${project.status.statusColor}">
                            <!--<span th:text="${project.status.statusColor}"></span>-->
                        </td>
                        <td>
                            <a th:href="@{'/'+${pageURI}+'/detail/'+${project.id}}" class="btn btn-primary btn-xs">
                                <span class="glyphicon glyphicon-eye-open"></span> 
                            </a>
                            <a th:href="@{'/'+${pageURI}+'/edit/'+${project.id}}" class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a th:href="@{'/'+${pageURI}+'/delete/'+${project.id}}" onclick="return confirm('Are you sure to delete?')" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>                        
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>

</div>

<div th:replace="addemployee"></div>
<div th:replace="emplist"></div>
<div th:replace="shared/footer"></div>
<script>
    $(document).ready(function(){
    $('.add-emp-btn').on('click',function(){
    var $id=$(this).attr('rel');
    $('#modal-project-id').val($id);
    $('#modal-addemp').modal();
    });

    $('#add-employee-form').on('submit',function(){
    $.post('/projects/employees/add',$(this).serialize(),function(data){
    console.log(data);
    $('#modal-addemp').modal('hide');
    });
    return false;
    });
    $('.list-emp-btn').on('click',function(){
    $('#modal-listEmp').modal();        
    })
    });

    <!--------------------->
    $(document).ready(function(){
    $.getJSON('/projects/employees',function(data){
    $.each(data,function(index,row){
        console.log(row);    
    })
    })
    })

</script>
