<div th:replace="shared/header"></div>
<div class="row">
    <div class="col-xs-12">
        <!-- jQuery Knob -->
        <div class="box box-solid">
            <div class="box-header">
                <i class="fa fa-bar-chart-o"></i>

                <h3 class="box-title">Project Status</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-default btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>                   
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">

                    <div class="col-xs-6 col-md-3 text-center" th:each="project:${records}">
                        <input type="text" class="knob" value="90" data-width="90" data-height="90" th:data-fgColor="${project.status.get(project.status.size()-1).statusColor}">
                        <div class="knob-label" th:text="${project.projectName}"></div>
                    </div>

                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

<div class="col-md-12">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                <!--                <a th:href="@{${pageURI}+'/create'}" class="btn btn-primary btn-xs abc">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>-->
                <a href="javascript:void(0)" class="create-modal-btn btn btn-primary btn-xs abc">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </h3>
            <div>
                <h5 th:each="status:${status}" style="display: inline-block">                    
                    <span class="label" th:style="'background:'+${status.statusColor}" th:text="${status.statusName}"></span>
                </h5>
            </div>

        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="view-table" th:include="${viewPath}+'/table'"></div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>

<div th:replace="project/components/task-add-modal"></div>
<div th:replace="project/components/status-popup"></div>
<div th:replace="project/components/client-popup"></div>
<div th:replace="project/components/project-edit-modal"></div>
<div th:replace="project/components/project-create-modal"></div>
<div th:replace="project/components/addemployee"></div>
<div th:replace="project/components/employee-list-dialog"></div>
<div th:replace="shared/footer"></div>
<script src="/webjars/adminlte/2.3.11/plugins/knob/jquery.knob.js"></script>
<script>
    $(document).ready(function () {
        $('#view-table').on('click','.add-emp-btn', function () {
            var $id = $(this).attr('rel');
            $('#modal-project-id').val($id);
            $.get('/employees/project-notassigned/' + $id, function (data) {
                var $list = $('#modal-addemp #add-employee-form .test select[name=employeeList]');
                $list.empty();
                $.each(data, function (index, row) {
                    console.log(row.firstName);
                    $('<option/>').val(row.id).text(row.firstName)
                            .appendTo($list);
                    //var select = ` <option value="${row.id}">${row.firstName}</option> `;
                    //$list.append(select);
                });
            });
            $('#modal-addemp').modal();
        });

        $('#add-employee-form').on('submit', function () {
            $.post('/projects/employees/add', $(this).serialize(), function (data) {
                console.log(data);
                if (data == 'success') {
                    $('#modal-addemp').modal('hide');
                    reloadMainTable();
                }
            });
            return false;
        });

        $('#view-table').on('click','.list-emp-btn', function (event) {
            var $id = $(this).attr('rel');
            var $projectName = $(this).attr('data-name');
            var $dialog = $('#employee-list-dialog');
            $dialog.find('#modal-title').html('Employee List of ' + $projectName);
            console.log($projectName)
            console.log($id);
            $.get('/' + pageURI + '/employees/' + $id, function (data) {
                $table = $('#employee-list-table tbody');
                $table.find('tr').remove();
                $.each(data, function (i, row) {
                    var $tr = $('<tr/>');
                    $('<td/>').html(row.id).appendTo($tr);
                    $('<td/>').html(row.firstName + ' ' + row.lastName).appendTo($tr);
                    $('<td/>').html(row.address).appendTo($tr);
                    $('<td/>').html(row.phoneNo).appendTo($tr);
                    $('<td/>').html('<a  data-project-id="' + $id + '" rel="' + row.id + '" class="btn btn-danger btn-xs remove-emp-btn" javascript:void(0)>\n\
                                                         <span class="glyphicon glyphicon-trash"></span>\n\
                                                         </a>').appendTo($tr);
                    $tr.appendTo($table);
                });

                $dialog.modal();
            });
        });
        $('#employee-list-table').on('click', '.remove-emp-btn', function () {
            if (confirm('Are you sure to remove? ')) {
                var $this = $(this);
                $projectId = $this.attr('data-project-id');
                $employeeId = $this.attr('rel');

//                $(function () {
//                    var token = $("meta[name='_csrf']").attr("content");
//                    var header = $("meta[name='_csrf_header']").attr("content");
//                    $(document).ajaxSend(function (e, xhr, options) {
//                        xhr.setRequestHeader(header, token);
//                    });
//                });

                var $data = {
                    _csrf: csrf,
                    projectId: $projectId,
                    employeeId: $employeeId
                };
                $.post('/' + pageURI + '/remove-employee', $data, function (data) {
                    $this.parent().parent().slideUp();
                    reloadMainTable()
                });

            }
        })
    });

    $(function () {
        $('.client-popover-btn').popover({
            html: true,
            placement: 'top',
            trigger: 'hover',
            content: function () {
                var content = $(".client-popover");
                var $row = JSON.parse($(this).attr('rel'));
                $('#client-popup-id').html($row.id);
                $('#client-popup-name').html($row.name);
                $('#client-popup-address').html($row.address);
                $('#client-popup-phone').html($row.phoneNo);
                $('#client-popup-email').html($row.email);
                $('.client-popover').popover('show');
                return content.html();
            }
        });
    });



    $(".knob").knob();

    $('.create-modal-btn').on('click', function () {
        $('.project-create-modal').modal();
    })
    $('.edit-modal-btn').on('click', function () {
        $('.project-edit-modal').modal();
    })


    $('.change-status-btn').on('click', function () {
        var $id = $(this).attr('rel');
        var $name = $(this).attr('data');
        $statusPopup = $('#status-popup');
        $statusPopup.find('#projectName').html($name);
        $statusPopup.find('input[name=project]').val($id);
        $statusPopup.modal();
    })

    $('#status-popup').on('submit', '#change-status', function () {
        console.log($(this).serialize());
        $.post('/projects/update-status', $(this).serialize(), function (data) {
            reloadMainTable();
            $('#status-popup').modal('hide');
        });
        return false;
    })

    $('.task-add-btn').on('click', function () {
        $('#task-add-modal').modal();
    })

    function reloadMainTable() {
        $.get('/' + pageURI + '/table', function (data) {
            $('#view-table').html(data);
        })
    }

</script>
<style>

</style>