<div th:replace="shared/header"></div>
<div class="col-md-12">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                <a th:href="@{${pageURI}+'/create'}" class="btn btn-primary btn-xs">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Phone No</th>
                        <th>Email</th>
                        <th>Projects</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="client:${records}">
                        <td th:text="${client.id}"></td>
                        <td th:text="${client.firstName}+' '+${client.lastName}"></td>
                        <td th:text="${client.address}"></td>
                        <td th:text="${client.phoneNo}"></td>
                        <td th:text="${client.email}"></td>
                        <td th:text="${client.projects.size()}"></td>
                        <td th:text="${client.status}==1 ? 'Active':'Inactive'"></td>
                        
                        <td>
                            <a th:href="@{${pageURI}+'/edit/'+${client.id}}" class="btn btn-success btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a th:href="@{${pageURI}+'/delete/'+${client.id}}" onclick="return confirm('Are you sure to delete?')" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>                        
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>

</div>
<div th:replace="shared/footer"></div>
