<div th:replace="shared/header"></div>
<div class="col-md-12">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">
                <!--                <a th:href="@{${pageURI}+'/create'}" class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>-->
                <a href="javascript:void(0)" class="btn btn-primary btn-xs add-btn">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            
            <div id="view-table" th:include="${viewPath}+'/table'"></div>
           
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
<div th:replace="client/components/form-dialog"></div>
<div th:replace="shared/footer"></div>
<script>
    $(document).ready(function(){
    $('.add-btn').on('click',function(){
    var $dialog = $('#form-dialog');
    $dialog.find('#modal-title')
    .html('Create '+pageTitle)    
    $dialog.modal();
    $('input').val('');
    $('input[type=checkbox]').attr('checked',false).val('1');    
    $('input[name=id]').val(0);   
    $('input[name=_csrf]').val(csrf);   
    
    return false;
    });

    $('#view-table').on('click','.edit-btn',function(){    
    var $id = $(this).attr('rel');
    $.getJSON('/'+pageURI+'/json/'+$id,function(data){
    var $dialog = $('#form-dialog');
    $dialog.find('#modal-title')
    .html('Edit '+pageTitle)
    $('input[name=id]').val(data.id);
    $('input[name=firstName]').val(data.firstName);
    $('input[name=lastName]').val(data.lastName);
    $('input[name=address]').val(data.address);
    $('input[name=phoneNo]').val(data.phoneNo);
    $('input[name=email]').val(data.email);
    $('input[name=status]').prop('checked',data.status);
    $dialog.modal();
    })
    return false;
    });

    $('#form-dialog').on('submit','#app-form',function(){    
    $.post('/'+pageURI+'/json',$(this).serialize(),function(data){    
    if(data==='success'){
    $('#form-dialog').modal('hide');
    $.get('/'+pageURI+'/table',function(data){    
        $('#view-table').html(data);
        
    });
    }
    });
    return false;
    });
    });
</script>