
<div id="modal-addemp" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" modal-sm role="document">
        <div class="modal-content">
            <button type="button" class="close" id="close" onclick="myClose2()" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>      
            <h4 class="modal-title">Add Employee</h4>            
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form role="form" id="add-employee-form" method="post" action="">
                    <div class="box-body">  
                        
                        <div class="form-group">
                            <label>Add Employees</label>
                            <select name="employeeList" class="form-control" multiple="multiple" style="height:150px">
                                <option th:each="employee:${employee}"  th:value="${employee.id}" th:text="${employee.firstName}+' '+${employee.lastName}"></option> 
                            </select>
                        </div>
                    </div>
                    <div class="box-footer">
                        <!--<input type="hidden" name="id" th:value="${employee.id}">-->
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <input type="hidden" name="projectId" id="modal-project-id">
                        
                        <button type="submit" class="btn btn-success">Add</button>
                        <a href="/projects" class="btn btn-danger">Close</a>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>