
<div class="client-popover" style="display: none">
    <div class="popover-body">  

        <dl>
            <dt>Name:</dt>
            <dd>
                <span id="client-popup-name"></span> 
            </dd>
            <dt>Address</dt>
            <dd>
                <span id="client-popup-address"></span>
            </dd>
            <dt>Email</dt>
            <dd>
                <span id="client-popup-email"></span>
            </dd>
            <dt>Contact</dt>
            <dd>
                <span id="client-popup-phone"></span>
            </dd>                   
        </dl>        
    </div>
</div>